::placeholder{
  color: white;
}
html{
  height:100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background: url('img/bg2.jpg') center no-repeat;
  background-size: 100%;
  background-color: black;
  font-family: Roboto, sans-serif;
 
}
@font-face{
  font-family: Google;
  src: url('font/google.ttf')
}
@font-face{
  font-family: Roboto;
  src: url('font/roboto.ttf');
}
h1{
  font-family: Roboto, sans-serif;
  font-size: 45px;
  color: #00ffff;
  margin-top: 10%;
  padding-bottom: 30px;
  text-shadow: 0px 0px 0.75em white, 0 0 0.5em white, 0 0 0.25em white;
}

#form-search { 
  width: 40%;
  line-height: 32px;
  padding: 45px;
  height: 35px
}
#form-search {
  padding: 0 8px;
}
button {
  padding: 5px;
  background: white;
}
input{
  font-family: Roboto, sans-serif;
}
input[type="text"]{
  color: white;
  border: 0px;
  border-radius: 5px; 
  background-color: rgba(0, 0, 0, .5)
}
a {
  text-decoration: none;
  color : #333333;
  font-weight: bold;
  background: white;
  padding: 15px;
  margin: 30px 10px;
  border: 1px solid #999999;
}
input[type="submit"]{
  height: 35px;
  width: 100px;
  color: white;
  background-color: rgba(255,255,255, 0.3);
  margin: 15px 5px;
  border: 0px;
  border-radius: 5px;
}
input[type="submit"]:hover{
  cursor: pointer;
  animation-name: color-change-button;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a {
  background-color: transparent;
  border: none;
}
@-webkit-keyframes color-change-button {
  from {background-color: rgba(255,255,255, 0.3);}
  to {background-color: rgba(0, 0, 0, .7);}
}

label {
  color: white;
}

